{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "plugins": ["@typescript-eslint", "prettier"],  
  "rules": {
    "no-console": "off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ]
}